<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" th:href="@{/assets/vendor-38e8f1435eca301ce1da5edcca6c077a.css}"/>
    <link rel="stylesheet" th:href="@{/assets/avgprices-8e769d0888b2aaa979a80f63705b70a5.css}"/>
    <title>PriceTrends</title>
</head>

<body>
    <script th:src="@{/assets/vendor-8850ac6f99616376947afa5c41b3d84a.js}"></script>
    <script th:src="@{/assets/avgprices-9e7a7f88f07d056c69f3786eeddbb3c3.js}"></script>
</body>
</html>
