<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>Welcome to PriceTrends, a viewer for historical average pricing data from the US Department of Labor's Bureau of Labor Statistics.</h3>

    <h4>Follow the steps below to get started.</h4>

    <ol>
      <li>Pick a Geographical Area and the type of Item that you want to view pricing data for.
      </li>
      <li>Click the GO! button to fetch data.
      </li>
      <li>Choose how you want to see the data.  You may select a data table, a line graph, or a bar graph.
      </li>
    </ol>

    <h5>You will be presented with up to 3 years worth of monthly average price data.  Not all geographic areas have data for every item.</h5>

  </div>
</div>

